<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{panelTitle}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row left-indent">
                        <div class="col-md-12">
                            <div ng-transclude></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>