<section data-ng-controller="HomeController" ng-init="checkLoggedIn()">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-11">
            <div class="jumbotron jumbotron-header text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <img alt="MSI" class="img-responsive text-center" src="modules/core/img/brand/marie-stopes-logo.png" />
                    </div>
                </div>
                <br>
                <div class="row">
                    <p class="lead">
                        Blithe Systems - Marie Stopes Rapid Prototyping using a MEAN Stack
                    </p>
                </div>
            </div>
            <div>
                <h2>Welcome to the Blithe Systems prototype for MSI</h2>
                <p>This prototype is intended to provide proof of concepts for the following</p>
                <ul>
                    <li>
                        Financial Elements (Service Providers, Services, Activities, Contracts etc...)
                    </li>
                </ul>
                <br/>
                <p>Click <a href="/#!/signin">Sign In</a> or if not already registered <a href="/#!/signup">Sign Up</a> to get started</p>
            </div>
        </div>
        <div class="col-sm-0 col-md-0 col-lg-1">
        </div>
    </div>
</section>
