.welcome-banner {
    color: #888!important;
}

.btn-pin {

    width:55px!important;
    min-width: 55px!important;
    height:45px;
    margin: 10px 10px 10px 10px!important;
    /*padding: 10px 10px 10px 10px!important;*/
}

select {
    -webkit-appearance: none;
}

.select-label {
    color: rgb(117, 117, 117);
    cursor: default;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding-left: 2px;
    padding-top: 2px;
    margin-bottom: 7px;
}

.md-select-replica {
    border-color: rgba(225, 225, 225, 0.99);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.event-button:disabled {
    z-index: 600;
}


.event-button:disabled {
    background-color: #E7E3E7!important;
}

.event-banner {
    background-color: #039be5!important;
    min-height: 45px!important;
    height: 45px!important;
}

.event-error-banner {
    background-color: #FF0000!important;
    min-height: 45px!important;
    height: 45px!important;
    z-index: 1!important;
}


.add-event-button {
    position:absolute;
    bottom: 10px;
    right: 10px;
    background-color: #E7085A!important;
}

.eventError {
    color: red;
}

.logo1 {
    position: absolute;
    top: 14px;
    left: 50px;
}

.logo2 {
    position: absolute;
    top: 14px;
    left: 50px;

}

.sync-button-container {
    background-color: #ffffff;
    padding-bottom:5px!important;
}

.sync-button {
    width: 250px!important;
}

.menu-list-item{
    background-color: lightgrey;
    list-style: none;
}

.menu-item {
    background-color: #d3d3d3;
    color: #5a5a5a;
}

.toolbar-button {
    height: 45px;
    width: 45px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

