<div layout="column"  flex data-ng-controller="EventsController">
    <md-toolbar class="demo-toolbar md-default-theme">
        <div class="md-toolbar-tools">
            <div layout="column" layout-align="start center">
                <span class="ng-binding">Event Details</span>
                <span id="showcode" class="showcode">
                    <md-button id="btnCreate" ng-if="currentState('create')" class="md-fab md-primary event-button" aria-label="" ng-click="create()" ng-disabled="eventForm.$invalid || formErrors">
                        <ng-md-icon icon="save" size="34" style="margin-bottom: 20px; margin-right: 10px;"></ng-md-icon>
                    </md-button>
                    <md-button id="btnUpdate" ng-if="currentState('edit')" class="md-fab md-primary event-button" aria-label="" ng-click="update()" ng-disabled="eventForm.$invalid || formError">
                        <ng-md-icon icon="save" size="34" style="margin-bottom: 20px; margin-right: 10px;"></ng-md-icon>
                    </md-button>
                </span>
            </div>
            <div layout="column" flex layout-align="end end">
            </div>
        </div>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-z1 md-padding" layout="column" layout-fill flex >
        <md-toolbar class="md-primary event-error-banner" ng-show="formErrors">
            <h2 class="md-toolbar-tools">
                <span>{{formError}}</span>
            </h2>
        </md-toolbar>
        <md-content layout-fill>
            <form name="eventForm">
                <lx-text-field label="WB Number">
                    <input type="text" ng-model="wbevent.WBNumber" required>
                </lx-text-field>
                <div layout="row" layout-sm="column">
                    <md-input-container flex>
                    <label>Event Date</label>
                    <input id="inputEventDate" type="date" ng-model="wbevent.EventDate" required>
                    </md-input-container>
                    <div layout="column" flex>
                        <label class="select-label">Start Time</label>
                        <select class="md-select-replica" ng-model="wbevent.Start" ng-options="time.text for time in timeOpts" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>
                    <div layout="column" flex>
                        <label class="select-label">End Time</label>
                        <select class="md-select-replica" ng-model="wbevent.End" ng-options="time.text for time in timeOpts" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>

                </div>
                <div layout-gt-sm="row" layout-sm="column">
                    <div layout="column" flex>
                        <label class="select-label">Keyworker</label>
                        <select class="md-select-replica" ng-model="wbevent.Keyworker" ng-options="keyworker.text for keyworker in lookupData.keyworkers" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>
                    <div layout="column" flex>
                        <label class="select-label">Event Type</label>
                        <select class="md-select-replica" ng-model="wbevent.EventType" ng-options="option.text for option in lookupData.eventTypes" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>
                    <div layout="column" flex>
                        <label class="select-label">Location</label>
                        <select class="md-select-replica" ng-model="wbevent.Location" ng-options="option.text for option in lookupData.locations" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>
                    <div layout="column" flex>
                        <label class="select-label">Status</label>
                        <select class="md-select-replica" ng-model="wbevent.Status" ng-options="option.text for option in lookupData.eventStatus" required>
                            <option value="" ng-if="!foo"></option>
                        </select>
                    </div>
                </div>
                <lx-text-field label="Event Notes">
                    <textarea ng-model="wbevent.Notes" required></textarea>
                </lx-text-field>
                <!--<md-input-container flex>
                    <label>Event Notes</label>
                    <textarea id="inputNotes" ng-model="wbevent.Notes" columns="1" required></textarea>
                </md-input-container>-->
            </form>
        </md-content>
    </md-whiteframe>
</div>
